<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sopt.tokddak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".feature.planning.transportation.TransportationPlanningActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.planning.shopping.ShoppingPlanningActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.planning.activity.ActivitesPlanningActivity" />
        <activity android:name=".feature.planning.lodgement.LodgementPlanningActivity" />
        <activity android:name=".feature.planning.SelectCategoryActivity" />
        <activity
            android:name=".feature.planning.TitleActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".feature.main.MainActivity" />
    </application>

</manifest>